@charset "utf-8";
/*Body Styles*/
section{
	background-image:url(../imgs/nav_background.png);
	display:inline-block;
	float:left;
	clear:right;
	width:50%;
	border: 2px double green;
	color:white;
	border-radius: 50px;
	padding: 15px 15px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	line-height:1.2em;
	font-family: 'Italianno', cursive;
	font-size: 2em;
	text-align:center;
	box-shadow: 5px 5px 5px rgba(0, 102, 34, .8);
}
article img {
	width:25%;
}
/* styles images */
.pics {
	height:25vh;
	width:20vm;
	margin-bottom:5%;
	border: 2px double green;
	border-radius:50px;
	box-shadow: 5px 10px 10px #b30000;
}
#side_pics img {
	margin-top:5%;
}
#chicken_pics img {
	margin-top:10%;
}	
#pizza_pics img {
	margin-top:10%;
}
article::after { /*fixes container collapse*/
	clear:both;
	content: "";
	display:table;
}
h1 {
	text-align:center;
	font-family: 'Italianno', cursive;
	font-size:4em;
	margin-top:5%;
	color:green;
}
/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/
@media screen and (max-width: 480px) {

	nav {
		font-size: .8em;
	}
	body {
		width:100%;
	}
	section{
		background-image:url(../imgs/nav_background.png);
		border: 2px double green;
		color:white;
		border-radius: 50px;
		padding: 15px 15px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		width:80%;
	}
	article img {
		display:none;
	}
	hr {
		overflow: visible; /* For IE */
		height: 30px;
		border-style: solid;
		border-color: black;
		border-width: 1px 0 0 0;
		border-radius: 20px;
		width: 50%;
	}
	article {
		font-size: 1.2em;
	}
}
/* ============================================
	Tablet Devices: 481px -1300px  
   ============================================
*/
@media screen and (max-width: 1300px) {
	section{
		background-image:url(../imgs/nav_background.png);
		border: 2px double green;
		color:white;
		border-radius: 50px;
		padding: 15px 15px;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		width:80%;
	}
	article img {
		display:none;
	}
	ul {
		display:none;
	}+

}
